

*{
    marging:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color:white;
}

ul{
	padding: 0px;
}

body{
	background-color: black;
	marging:0;
}

.imglogo{
	width: 50%;
	height: 500px;
}

p{
	font-size:20px;
	marging:5px;
	padding:5px;
}


.header{
	position: sticky;
	top: 0px;
	width: 100%;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:black;

}

.headerLogo{
	display: flex;
	align-items: center;
	

}

.headerMenu a {
		font-size:17px;
		padding:3px;
		marging:3px;
		
}

.headerLogo h2{
	padding-left:10px;
	font-size:40px;

}

.headerLogo p{
	font-size:20px;
}

.headerLogo img{
	width: 200px;

}

.headerMenu{
	width:40%;
}

nav{
	display:block;
}


.headerMenu ul{
	display: flex;
	justify-content: space-around;
	width:100%;
	list-style: none;
}


.headerMenu ul li{
	display: inline-block;
}

.logo{
	text-align: center;

}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

.main{
	color:white;
}

@media (max-width: 1200px) {

	ul{
		padding: 0px;
	}

	.headerMenu{
		width:50%;
	}

	
	.headerLogo img{
		width: 110px;
	
	}

	.headerLogo h2{
		padding:3px;
		font-size:25px;
	}
	
	.headerMenu a {
		font-size:17px;
		padding:3px;
		marging:0px;
	}

	.headerLogo p{
	font-size:14px;
	padding:2px;
	marging:2px;
	}

	.imglogo{
		width: 50%;
		height: 300px;
	}

	
}

@media (max-width: 992px) {

	ul{
		padding: 0px;
	}


	.header{
		flex-direction: column;
		justify-content: center;
		padding:0px;
		}

		.headerLogo{
			width: 100%;
			justify-content: space-around;
		}

	.headerLogo img{
			width: 100px;
		
		}

	.headerLogo h2{
		font-size:25px;
		}

	.headerMenu {
		width: 100%;
		}
	.headerLogo p{
	font-size:20px;
	padding: 2px;
		}

	.headerMenu a {
		font-size:25px;
		margin: 0px;
		}
	
	.imglogo{
		width: 70%;
		height: 450px;
	}
}

@media (max-width: 512px) {


	ul{
		padding: 0px;
	}


	.imglogo{
		width: 70%;
		height: 200px;
	}
	.headerLogo h2{
		font-size:23px;
		}

		.headerLogo p{
			font-size:16px;
		}
		
		.headerLogo img{
			width: 80px;
		
		}


			.headerMenu a {
		font-size:16px;
		border-style:solid;
		border-color: #;86171b
		border-radius: 8px;
		padding-right:6px;
		margin: 0px;
		}
	

}

@media (max-width: 418px) {


	ul{
		padding: 0px;
	}


	.imglogo{
		width: 65%;
		height: 200px;
	}
	.headerLogo h2{
		font-size:13px;
		}

		.headerLogo p{
			font-size:10px;
		}
		
		.headerLogo img{
			width: 40px;
		
		}


			.headerMenu a {
		font-size:11.5px;
		margin: 0px;
		}

		p{
			font-size: 14px;
		}
}

@media (max-width: 371px) {

	ul{
		padding: 0px;
	}

	.headerMenu a {
		font-size:11.5px;
		margin: 0px;
		padding: 0px;
		}
}
