*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
	background-color: black;
	margin:3px;
	padding:3px;
}

form{
	padding: 50px 20px;
	background-color:#ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	width: 400px;
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}




p{
	font-size:20px;
	margin:3px;
	padding:3px;
	color:white;
}

a{
	text-decoration: none;
}

a:visited {
	color: #09fff9;
}

a:link {
	color: #09fff9;
}

a:hover{
	color:black;
	background-color:white;
	transition: color 1s;
	border-radius:20px;
}

.header{
	position: sticky;
	top: 0px;
	width: 100%;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:black;

}

.headerLogo{
	display: flex;
	align-items: center;
	

}

.headerMenu a {
		font-size:25px;
		padding:3px;
		marging:3px;
		
}

.headerLogo h1{
	padding-left:0px;
	font-size:40px;

}

.headerLogo p{
	font-size:25px;
}

.headerLogo img{
	width: 200px;

}

.headerMenu{
	width:55%;
}

nav{
	display:block;
}


.headerMenu ul{
	display: flex;
	justify-content: space-around;
	width:100%;
	list-style: none;
}


.headerMenu ul li{
	display: inline-block;
}

.logo{
	text-align: center;

}

.logoVertical {
	text-align: center;
}

.logoVertical img{
	text-align: center;
	width:30%;
	height:600px;
}

.Logo{
	text-align:center;
	color:white;
}

h1{
	text-align: center;
	color:#444;
	padding:12px;
}

h2{
	color: white;
	padding: 5px;
}

.main{
	color:white;
}

input{
	width: calc(100% - 20px);
	padding: 9px;
}


@media (max-width: 1282px) {

	.headerMenu a {
		font-size:22px;
	}
}

@media (max-width: 1200px) {

	ul{
		padding: 4px;
	}

	.headerMenu{
		width:50%;
	}

	
	.headerLogo img{
		width: 110px;
	
	}

	.headerLogo h1{
		padding:3px;
		font-size:25px;
	}
	
	.headerMenu a {
		font-size:21px;
		padding:3px;
		marging:0px;
	}

	.headerLogo p{
	font-size:16px;
	padding:2px;
	marging:2px;
	}

	.imglogo{
		width: 50%;
		height: 400px;
	}

	.videos{
		width: 100%;

	}
	
	h4{
		font-size: 25px;
	}
}

@media (max-width: 992px) {

	ul{
		padding: 4px;
	}

	h4{
		font-size:24px;
	}

	p{
		font-size:18px;
	}	

	.headerMenu a {
		font-size:23px;
		border-style:solid;
		color: #09fff9;
		border-radius: 25px;
		padding-right:6px;
		margin: 0px;
		}

	
	.header{
		flex-direction: column;
		justify-content: center;
		padding:0px;
		}

		.headerLogo{
			width: 100%;
			justify-content: space-around;
		}

	.headerLogo img{
			width: 100px;
		
		}

	.headerLogo h1{
		font-size:25px;
		}

	.headerMenu {
		width: 100%;
		}
	.headerLogo p{
	font-size:21px;
	padding: 2px;
		}


	
	.imglogo{
		width: 85%;
		height: 450px;
		}
	
	.logoVertical img{
		text-align: center;
		width:85%;
		height:600px;
	}

	.videos{
		width: 100%;
	}
}

@media (max-width: 512px) {


	ul{
		padding: 4px;
		margin: 3px;
	}

	h4{
		font-size:23px;
	}

	p{
		font-size:18px;
	}

	.imglogo{
		width: 75%;
		height: 300px;
	}
	
		.logoVertical img{
		text-align: center;
		width:75%;
		height:400px;
	}
	.headerLogo h1{
		font-size:23px;
		}

		.headerLogo p{
			font-size:16px;
		}
		
		.headerLogo img{
			width: 80px;
		
		}


			.headerMenu a {
		font-size:16px;
		border-style:solid;
		color: #09fff9;
		border-radius: 25px;
		padding-right:6px;
		margin: 0px;
		}

		.videos{
			width: 100%;
		}
	

}

@media (max-width: 418px) {

	h4{
		font-size: 22px;
	}

	ul{
		padding: 4px;
	}


	.imglogo{
		width: 80%;
		height: 240px;
	}
	.headerLogo h1{
		font-size:13px;
		}

		.headerLogo p{
			font-size:12px;
		}
		
		.headerLogo img{
			width: 50px;
			padding: 1px;
			margin: 1px;
		
		
		}
.miservicio{
		font-size:14px;
}

			.headerMenu a {
		font-size:11.5px;
		margin: 0px;
		}

		p{
			font-size: 14px;
		}
}

@media (max-width: 371px) {

	ul{
		padding: 3px;
		margin:1px;
	}

h3{
	padding:4px;
	margin:4px;
	font-size: 18px;
}

.miservicio{
	font-size:15px;
		}

	.headerMenu a {
		font-size:11.5px;
		}
		.logoVertical img{
		text-align: center;
		width:60%;
		height:250px;
		}

		h4{
			font-size: 21px;
		}
}

@media (max-width: 300px) {
		.headerMenu a {
		font-size:9px;
		}
		
		.headerLogo p{
			font-size:10px;
			margin:1px;
			padding:1px;
		}
		.logoVertical img{
		text-align: center;
		width:60%;
		height:200px;
		}
		.imglogo{
		width: 75%;
		height: 150px;
		}
		ul{
			margin: 2px;
		}

		h4{
			font-size: 20px;
		}
}

@media (max-width: 258px) {
	
		ul{
		padding: 2px;
	}

		.videos{
			width: 75%;
		}
	
		.headerMenu a {
		font-size:7px;
		}
		.headerLogo p{
		font-size:9px;
				}
				
		.headerLogo h1{
		font-size:10px;
		}
		
		.logoVertical img{
		text-align: center;
		width:60%;
		height:200px;
		}
		.imglogo{
		width: 75%;
		height: 150px;
		}

		h4{
			font-size: 18px;
		}

		p{
			font-size: 12px;
		}
}
